<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index.html" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
               
              
                

            


                
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Admin</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/addadmin" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> add Admin </span></a></li>
                        <li class="sidebar-item"><a href="/viewadmin" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> view Admin </span></a></li>
                    </ul>
                </li>

                  
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Category</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/category/addCat" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> add category </span></a></li>
                        <li class="sidebar-item"><a href="/category/viewCat" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> view category </span></a></li>
                    </ul>
                </li>


                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">SubCategory</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/subCategory/subAddCat" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> add category </span></a></li>
                        <li class="sidebar-item"><a href="/subCategory/subViewCat" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> view category </span></a></li>
                    </ul>
                </li>

                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Extra Category</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/Extra/ExtraSubAddCat" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> add Extra category </span></a></li>
                        <li class="sidebar-item"><a href="/Extra/ExtraSubViewCat" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> view Extra category </span></a></li>
                    </ul>
                </li>

               
                 
                
           
           
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="index2.html" class="sidebar-link"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu"> Dashboard-2 </span></a></li>
                        <li class="sidebar-item"><a href="pages-gallery.html" class="sidebar-link"><i class="mdi mdi-multiplication-box"></i><span class="hide-menu"> Gallery </span></a></li>
                        <li class="sidebar-item"><a href="pages-calendar.html" class="sidebar-link"><i class="mdi mdi-calendar-check"></i><span class="hide-menu"> Calendar </span></a></li>
                        <li class="sidebar-item"><a href="pages-invoice.html" class="sidebar-link"><i class="mdi mdi-bulletin-board"></i><span class="hide-menu"> Invoice </span></a></li>
                        <li class="sidebar-item"><a href="pages-chat.html" class="sidebar-link"><i class="mdi mdi-message-outline"></i><span class="hide-menu"> Chat Option </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-account-key"></i><span class="hide-menu">Authentication </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/login" class="sidebar-link"><i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Login </span></a></li>
                        <li class="sidebar-item"><a href="/signin" class="sidebar-link"><i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Register </span></a></li>
                    </ul>
                </li>


                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Product</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/product/addProduct" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Add Product </span></a></li>
                        <li class="sidebar-item"><a href="/product/viewProduct" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu">View Product</span></a></li>
                    </ul>
                </li>
             
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>