<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: rgb(238,153,139);;
    }
</style>
<body>
    <div style="width: 50%; height: 470px; margin-left: 25%; margin-top: 50px; background-color: rgb(63,64,66); color: white; box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;">
    <center>
    <h1 style="color: rgb(238,153,139);font-size: 40px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Form</h1>
    <form action="/update" method="post">
     <input type="text" style="height: 18px;" value="<%=singleData.id%>" hidden name="id"> <br>
     <input type="text" style="height: 18px;" value="<%=singleData.name%>" placeholder="enter name" name="name"> <br><br>
     <input type="text" style="height: 18px;" value="<%=singleData.subject%>" placeholder="enter subject" name="subject"> <br><br>
     <input type="text" style="height: 18px;" value="<%=singleData.city%>" placeholder="enter city" name="city"> <br><br>
     <button style="width: 140px; height: 30px;" type="submit"> update </button>
    </form> <br>

    </center>
    </div>
</body>
</html>